.main-body{
    margin: 5%;
}

.card .mb-3{
    background: red;
}

.card-body{
    padding: 0;
    background-color: #8FDFF9;
}

.profile{
    margin: 10%;
}

.progress{

    height: 30px;
  }
  .progress_bar{

    height: 30px;
  }

.profile-img{
    border: 3px solid #fff;
    border-radius: 50%;
}

.description{
    border: none;
}
.row{
    margin: 3%;
}

.description{
    width: 800px;
    margin: auto;
    padding: 5%;
}